[submodule "KernelBench"]
	path = KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench.git
[submodule "real_workloads/maxtext"]
	path = real_workloads/maxtext
	url = https://github.com/AI-Hypercomputer/maxtext.git
